@page "/mostrar-naves"
@using Componentes;

<PageTitle>Starships</PageTitle>

<h1>Starships</h1>

<p>Listado de Naves.</p>

@* Se manda a llamar al componente llamado StarshipComponent que está en la carpeta componentes 
    y de esa manera poder reutilizar el mismo código en varios lugares el proyecto
*@
<Formularios.Componentes.StarshipComponent></Formularios.Componentes.StarshipComponent>