@page "/weather"
@using Componentes;

<PageTitle>Starships</PageTitle>

<h1>Starships</h1>

<p>Listado de Naves.</p>
<Formularios.Componentes.StarshipComponent></Formularios.Componentes.StarshipComponent>